<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OVS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ovs.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVoteServlet</display-name>
    <servlet-name>AddVoteServlet</servlet-name>
    <servlet-class>com.ovs.controller.AddVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoteServlet</servlet-name>
    <url-pattern>/AddVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreNoticeServlet</display-name>
    <servlet-name>StoreNoticeServlet</servlet-name>
    <servlet-class>com.ovs.controller.StoreNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreNoticeServlet</servlet-name>
    <url-pattern>/StoreNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVoteOptionServlet</display-name>
    <servlet-name>AddVoteOptionServlet</servlet-name>
    <servlet-class>com.ovs.controller.AddVoteOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoteOptionServlet</servlet-name>
    <url-pattern>/AddVoteOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ovs.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInfoServlet</display-name>
    <servlet-name>DeleteInfoServlet</servlet-name>
    <servlet-class>com.ovs.controller.DeleteInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfoServlet</servlet-name>
    <url-pattern>/DeleteInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVoteOptionServlet</display-name>
    <servlet-name>DeleteVoteOptionServlet</servlet-name>
    <servlet-class>com.ovs.controller.DeleteVoteOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVoteOptionServlet</servlet-name>
    <url-pattern>/DeleteVoteOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOptionServlet</display-name>
    <servlet-name>EditOptionServlet</servlet-name>
    <servlet-class>com.ovs.controller.EditOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOptionServlet</servlet-name>
    <url-pattern>/EditOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOptionServlet</display-name>
    <servlet-name>CreateOptionServlet</servlet-name>
    <servlet-class>com.ovs.controller.CreateOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOptionServlet</servlet-name>
    <url-pattern>/CreateOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVoteContentServlet</display-name>
    <servlet-name>EditVoteContentServlet</servlet-name>
    <servlet-class>com.ovs.controller.EditVoteContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVoteContentServlet</servlet-name>
    <url-pattern>/EditVoteContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAdminPWDServlet</display-name>
    <servlet-name>ChangeAdminPWDServlet</servlet-name>
    <servlet-class>com.ovs.controller.ChangeAdminPWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAdminPWDServlet</servlet-name>
    <url-pattern>/ChangeAdminPWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVoteServlet</display-name>
    <servlet-name>UserVoteServlet</servlet-name>
    <servlet-class>com.ovs.controller.UserVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVoteServlet</servlet-name>
    <url-pattern>/UserVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserVoteServlet</display-name>
    <servlet-name>CheckUserVoteServlet</servlet-name>
    <servlet-class>com.ovs.controller.CheckUserVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserVoteServlet</servlet-name>
    <url-pattern>/CheckUserVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeVoteOptionServlet</display-name>
    <servlet-name>ChangeVoteOptionServlet</servlet-name>
    <servlet-class>com.ovs.controller.ChangeVoteOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeVoteOptionServlet</servlet-name>
    <url-pattern>/ChangeVoteOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVoteServlet</display-name>
    <servlet-name>DeleteVoteServlet</servlet-name>
    <servlet-class>com.ovs.controller.DeleteVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVoteServlet</servlet-name>
    <url-pattern>/DeleteVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPWDServlet</display-name>
    <servlet-name>ResetPWDServlet</servlet-name>
    <servlet-class>com.ovs.controller.ResetPWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPWDServlet</servlet-name>
    <url-pattern>/ResetPWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserNameServlet</display-name>
    <servlet-name>EditUserNameServlet</servlet-name>
    <servlet-class>com.ovs.controller.EditUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserNameServlet</servlet-name>
    <url-pattern>/EditUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeNoticeServlet</display-name>
    <servlet-name>ChangeNoticeServlet</servlet-name>
    <servlet-class>com.ovs.controller.ChangeNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNoticeServlet</servlet-name>
    <url-pattern>/ChangeNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserInfoServlet</display-name>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <servlet-class>com.ovs.controller.ChangeUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <url-pattern>/ChangeUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPWD_account</display-name>
    <servlet-name>FindPWD_account</servlet-name>
    <servlet-class>com.ovs.controller.FindPWD_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPWD_account</servlet-name>
    <url-pattern>/FindPWD_account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPWD_SecurityA</display-name>
    <servlet-name>FindPWD_SecurityA</servlet-name>
    <servlet-class>com.ovs.controller.FindPWD_SecurityA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPWD_SecurityA</servlet-name>
    <url-pattern>/FindPWD_SecurityA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPWD_ChangePWD</display-name>
    <servlet-name>FindPWD_ChangePWD</servlet-name>
    <servlet-class>com.ovs.controller.FindPWD_ChangePWD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPWD_ChangePWD</servlet-name>
    <url-pattern>/FindPWD_ChangePWD</url-pattern>
  </servlet-mapping>
</web-app>
